# compiled output
/backend/dist
/node_modules
/backend/node_modules

# Logs
/backend/logs
/backend/*.log
/backendnpm-debug.log*
/backendpnpm-debug.log*
/backendyarn-debug.log*
/backendyarn-error.log*
/backendlerna-debug.log*

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json